1-Student-Data-Management/n8n-attendance-workflow.json
{
  "name": "Student Attendance Tracking Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000001",
      "name": "Daily Morning Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Attendance",
        "options": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000002",
      "name": "Read Attendance Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse attendance data and detect absences\nconst today = new Date().toISOString().split('T')[0];\nconst students = [];\nconst absences = [];\nconst lateArrivals = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const studentId = data.StudentID || data['Student ID'];\n  const studentName = data.StudentName || data['Student Name'] || data.Name;\n  const status = (data.Status || data.AttendanceStatus || '').toLowerCase();\n  const date = data.Date || today;\n  const parentEmail = data.ParentEmail || data['Parent Email'] || '';\n  const parentPhone = data.ParentPhone || data['Parent Phone'] || '';\n  \n  const record = {\n    studentId,\n    studentName,\n    status,\n    date,\n    parentEmail,\n    parentPhone,\n    grade: data.Grade || '',\n    teacher: data.Teacher || data.Homeroom || '',\n    consecutiveAbsences: parseInt(data.ConsecutiveAbsences) || 0\n  };\n  \n  students.push(record);\n  \n  if (status === 'absent' || status === 'a') {\n    absences.push(record);\n  } else if (status === 'late' || status === 'tardy' || status === 't') {\n    lateArrivals.push(record);\n  }\n}\n\nreturn [{\n  json: {\n    totalStudents: students.length,\n    totalAbsent: absences.length,\n    totalLate: lateArrivals.length,\n    absences,\n    lateArrivals,\n    date: today\n  }\n}];"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000003",
      "name": "Parse Attendance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.totalAbsent }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000004",
      "name": "Has Absences?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Split absences into individual items for processing\nconst data = $input.first().json;\nconst absences = data.absences || [];\n\nreturn absences.map(absence => ({ json: absence }));"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000005",
      "name": "Split Absences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.consecutiveAbsences }}",
              "operation": "largerEqual",
              "value2": 3
            }
          ]
        }
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000006",
      "name": "Chronic Absence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.parentEmail }}",
        "subject": "=Attendance Alert: {{ $json.studentName }} - Absence Notification",
        "message": "=Dear Parent/Guardian,\n\nThis is to inform you that {{ $json.studentName }} was marked absent from school today ({{ $json.date }}).\n\nIf this absence was planned or you have any questions, please contact the school office.\n\nThank you,\nResults Learning Attendance Office",
        "options": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000007",
      "name": "Email Parent - Absence",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1560, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.parentEmail }}",
        "subject": "=URGENT: {{ $json.studentName }} - Multiple Consecutive Absences",
        "message": "=Dear Parent/Guardian,\n\nThis is an urgent notification regarding {{ $json.studentName }}'s attendance.\n\nWe have recorded {{ $json.consecutiveAbsences }} consecutive absences. Extended absences can significantly impact student progress and learning.\n\nPlease contact us as soon as possible to discuss:\n- The reason for the absences\n- Any support your child may need\n- A plan for returning to school\n\nIf there are extenuating circumstances, we want to work with you to ensure {{ $json.studentName }}'s continued success.\n\nPlease call the school office or reply to this email.\n\nSincerely,\nResults Learning Student Services",
        "options": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000008",
      "name": "Email Parent - Chronic",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1560, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "channel": "#attendance-alerts",
        "text": "=:warning: *Chronic Absence Alert*\n\n*Student:* {{ $json.studentName }}\n*Student ID:* {{ $json.studentId }}\n*Grade:* {{ $json.grade }}\n*Teacher:* {{ $json.teacher }}\n*Consecutive Absences:* {{ $json.consecutiveAbsences }}\n\nParent has been notified. Please follow up.",
        "otherOptions": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000009",
      "name": "Slack Alert - Chronic",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1780, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Absence Log",
        "columns": "Student ID, Student Name, Date, Status, Parent Notified, Consecutive Absences, Alert Type",
        "options": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000010",
      "name": "Log Absence",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1780, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate daily summary\nconst data = $input.first().json;\n\nconst summary = {\n  date: data.date,\n  totalStudents: data.totalStudents,\n  totalPresent: data.totalStudents - data.totalAbsent - data.totalLate,\n  totalAbsent: data.totalAbsent,\n  totalLate: data.totalLate,\n  attendanceRate: ((data.totalStudents - data.totalAbsent) / data.totalStudents * 100).toFixed(1),\n  summaryText: `*Daily Attendance Summary - ${data.date}*\\n\\n` +\n    `📊 *Overview*\\n` +\n    `• Total Students: ${data.totalStudents}\\n` +\n    `• Present: ${data.totalStudents - data.totalAbsent - data.totalLate}\\n` +\n    `• Absent: ${data.totalAbsent}\\n` +\n    `• Late: ${data.totalLate}\\n` +\n    `• Attendance Rate: ${((data.totalStudents - data.totalAbsent) / data.totalStudents * 100).toFixed(1)}%`\n};\n\nreturn [{ json: summary }];"
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000011",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "channel": "#daily-attendance",
        "text": "={{ $json.summaryText }}",
        "otherOptions": {}
      },
      "id": "b1b2c3d4-0001-4000-8000-000000000012",
      "name": "Post Daily Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1120, 500],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Daily Morning Check": {
      "main": [
        [
          {
            "node": "Read Attendance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Attendance Data": {
      "main": [
        [
          {
            "node": "Parse Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Attendance": {
      "main": [
        [
          {
            "node": "Has Absences?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Absences?": {
      "main": [
        [
          {
            "node": "Split Absences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Absences": {
      "main": [
        [
          {
            "node": "Chronic Absence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chronic Absence?": {
      "main": [
        [
          {
            "node": "Email Parent - Chronic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Parent - Absence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Parent - Absence": {
      "main": [
        [
          {
            "node": "Log Absence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Parent - Chronic": {
      "main": [
        [
          {
            "node": "Slack Alert - Chronic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Post Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "results-learning-automation"
  }
}
